*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.certification-container{
    display: flex;
    justify-content: center;
}

.certification-content{
    width: 90%;
}

.certification-content p{
    font-family: "Roboto-Light";
    font-weight: 300;
    font-size: 4rem;
    line-height: 4rem;
    color: #BDBDBD;
    padding-top: 63px;
}

.certification-content h3{
    font-family: "Roboto-Medium";
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    color: #333333;
}